{
  auto_https disable_redirects
}

{$TUNNEL_HOSTNAME} {
  tls {
    dns cloudflare {$CF_DNS_API_TOKEN}
  }

  @vite_hmr path /__vite_hmr*
  reverse_proxy @vite_hmr frontend:5173

  reverse_proxy server:3111
}
